body{
	
}

.myDrop{
	margin: 8px 0 0 0;
	text-align: center;
	background-color: #007bff;
	border: 1px solid #007bff;
	border-radius: 0;
}

.myA{
	color:white;
}

.myA:hover{
	color:white;
}

.navbar-expand-lg .navbar-nav .dropdown-menu-right {
    right: -16px;
    left: auto;
}

.contenedor{
	margin-top:20px;
}
.contenido{
	margin-top:20px;
}
.titulo{
    text-align: center;
    border:1px solid #007bff;
    color: #007bff;
    font-size: 20px;
}
